<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jasapp.fernandoambrosio.devask">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.jasapp.fernandoambrosio.devask.EntradaActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jasapp.fernandoambrosio.devask.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jasapp.fernandoambrosio.devask.Menu"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jasapp.fernandoambrosio.devask.PreguntaFv"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jasapp.fernandoambrosio.devask.PreguntaSeleccion"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jasapp.fernandoambrosio.devask.RankingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jasapp.fernandoambrosio.devask.Slide"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jasapp.fernandoambrosio.devask.Categoria"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jasapp.fernandoambrosio.devask.Historial"
            android:screenOrientation="portrait" />
    </application>

</manifest>